.banner {
  text-align: center;
  background: linear-gradient(to right, red, black, green);
}

.navbar { background-color: black; }

.brown-text { color: brown; }

.center {
  width: 50%;
  margin: auto;
  padding: 10px;
  color: white;
}

.container { text-align: center; }