<html>
<head>
    <title>LynchWatch | Contact</title>
    <link href="/static/favicon.ico" rel="icon">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" href="{{ url_for('home_page') }}">Home</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{ url_for('info_page') }}">Feed</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand" href="#">
        <img class="img-fluid" height="30" src="/static/logo.png" width="30">
    </a>
</nav>
</body>
</html>